<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
</head>
<body>
    <div class="login-box">
        <h1>Log In</h1>
        {% if error %}
            <div style="color: red;">{{ error }}</div>
        {% endif %}
        <form method="post">
            <input type="email" name="email" placeholder="E-mail" required>
            <input type="password" name="password" placeholder="Password" required>
            <label for="captcha">What is {{ captcha_question }}?</label>
            <input type="text" name="captcha_answer" placeholder="Answer" required>
            <input type="hidden" name="captcha_expected" value="{{ captcha_expected }}">
            <input type="submit" name="submit" value="Log In">
        </form>
    </div>
        
</body>
</html>