<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div class="register_box">
    <h1>Register New User</h1>
    {% if error %}
        <div style="color: red;">{{ error }}</div>
    {% endif %}
    {% if success %}
        <div style="color: green;">{{ success }}</div>
    {% endif %}
    <form method="post">
        <input type="email" name="email" placeholder="E-mail" required>
        <input type="text" name="first_name" placeholder="First Name" required>
        <input type="text" name="last_name" placeholder="Last Name" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="confirm" placeholder="Confirm Password" required>
        <label for="captcha">What is {{ captcha_question }}</label>
        <input type="text" name="captcha_answer" placeholder="Answer" required>
        <input type="hidden" name="captcha_expected" value="{{ captcha_expected }}">
        <input type="submit" name="submit" value="Register">
    </form>
    </div>
</body>
</html>